{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": "off",
    "arrow-parens": ["off"],
    "no-undef": "off",
    "arrow-body-style": "off",
    "no-else-return": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "jsx-a11y/label-has-for": "off",
    "react/jsx-no-bind": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-array-index-key": "off",
    "no-class-assign": "off",
    "camelcase": "off",
    "react/jsx-filename-extension": "off",
    "import/extensions": "never",
    "import/no-unresolved": "off",
    "no-underscore-dangle": ["off"]
  }
}